body {
    font-family: 'Montserrat', sans-serif;
}

.botoes {
    background-color: rgb(0, 0, 0, 0.9);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate( -50%, 50%);
}

.mudar_nome {
    font-family: 'Montserrat', sans-serif;
}